<style>
    td {
        padding: 3px;
    }
</style>

<table class="table table-bordered">
    <tr>
        <th>Datum</th>
        <td>@ViewData["today"]</td>
    </tr>
    <tr>
        <th>Jaar</th>
        <td>@ViewData["year"]</td>
    </tr>
    <tr>
        <th>Maand</th>
        <td>@ViewData["month"]</td>
    </tr>
    <tr>
        <th>Dag van de week</th>
        <td>@ViewData["day"]</td>
    </tr>
    <tr>
        <th>Dag van de maand</th>
        <td>@ViewData["daynumber"]</td>
    </tr>
    <tr>
        <th>Weeknummer</th>
        <td>@ViewData["weeknumber"]</td>
    </tr>
        <tr>
        <th>Dag van het jaar</th>
        <td>@ViewData["dayofyear"]</td>
    </tr>
</table>

